.grid-layout {
  display: grid;

  grid-template-rows: 4rem auto 45px;
  grid-template-columns: 16rem auto;

  height: 100%;
}

.logo-container {
  background-color: #191414;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.company-logo {
  width: 256px;
  height: 50px;
  object-fit: contain;
  margin-top: 7px;
}

.header-container {
  background-color: transparent;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}

.sidebar-container {
  background-color: #191414;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.main-container {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}

.footer-container {
  background-color: #191414;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}

/* header */  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  background-color: hsl(322, 100%, 83%);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px ;
}

.button {
  border: none;
  background-color: #191414;
  border-radius: 100%;
  min-width: 50px;
  min-height: 50px;
  margin-right: 10px;
}

.rotate180 {
  transform: rotate(180deg);
}

.user__avatar {
  width: 50px;
  height: auto;
  object-fit: contain;
  border-radius: 100%;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: hsl(0, 0%, 100%);
}

.nav__list {
  margin: 0 0 50px 0;
}

.nav__item:hover .nav__link {
  color: blue;
}

.nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.nav__link img {
  filter: invert(100%);
}

.sidebar__playlists a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 10px;
}

.sidebar__item {
  list-style: circle;
}

.sidebar__item:hover a {
  color: blue;
}

/* main */
.main-container {
  background: linear-gradient(0deg, hsl(309, 21%, 18%)  60%, hsl(322, 100%, 83%) 100%);
  padding: 25px;
}