<section>
  <h1>{{ artist.name }}</h1>
  <ul class="songs songs--playlist">
    <li class="song song--title">
      <h4>Title</h4>
      <h4>Artist</h4>
      <h4>Duration</h4>
    </li>
    {{#each songs }}
      {{> song role_id=../user.role.id playlist_id=../playlist.id }}
    {{/each}}
  </ul>
</section>
<section class="artist__crud">
  <h3>Create new Song</h3>
    <form action="/api/song" method="post">
      <input type="text" name="name">
      <input type="text" name="artist_id" value="{{artist.id}}">
      <input type="submit">
    </form>
  <h3>Create new Album</h3>
    <form action="/api/album" method="post">
      <input type="text" name="name">
      <input type="text" name="artist_id" value="{{artist.id}}">
      <input type="submit">
    </form>
  <h3>Delete Artist</h3>
      <button class="button__function button__function--red button__function--icon" onClick="deleteArtist({{artist.id}})">
        <img src="/img/icons/delete.svg" alt="trashcan">
      </button>
</section>