<section class="home">
  <div class="artists">
    <h2>Artists</h2>
    <ul>
      {{#each artists}}
        {{>card card="artists"}}
      {{/each}}
    </ul>
  </div>
  <div class="songs">
    <h2>Songs</h2>
    <ul>
      {{#each songs}}
        {{>song }}
      {{/each}}
    </ul>
  </div>
</section>