<section>
  <h1>Playlists</h1>
  <ul class="list">
    {{#each playlists}}
      <li class="list__item">
        <a href="/playlists/{{id}}">
          <h4>
          {{ name }}
          </h4> 
        </a>
      </li>
    {{/each}}
  </ul>
</section>