<li class="list__item list__item--album">
  <h4>{{ name }}</h4>
  {{#if (isEqual role_id 1)}}
  <button class="button__function button__function--red button__function--icon" onClick="deleteAlbum({{id}})">
    <img src="/img/icons/delete.svg" alt="trashcan">
  </button>
  {{/if}}
</li>