<header>
  <button class="button button--round button--back" onClick="previous()" id="backward"></button>
  <button class="button button--round button--forward" onclick="next()" id="forward"></button>

  <a class="user" href="">
    <img src="" alt="">
  </a>
</header>